.nav_items {
    margin: 0px 10px;
    border-radius: 20px;
    padding: 20px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    cursor: pointer;
    z-index: 100;
}

.nav_items:hover {
    background: white;
}

.header {
    text-align: center;
}

.login {
    height: fit-content;
    width: 20%;
    background-color: white;
    position: absolute;
    margin: 10% 40% 0 41%;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 5px;
    top: 20%;
    left: -2%;
}

#login-title {
    text-align: center;
}

.login-inputs {
    margin: 0px 10px 0px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup{
    height: fit-content;
    width: fit-content;
    background-color: white;
    position: absolute;
    right: 27%; 
    top: 30%;
    margin: 0 auto;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 15px;
}

.signup-title {
    text-align: center;
}

.bio-box {
  width: 84%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 0 2px 0 2px;
}

.weekdays{
    height: 3em;
    width: 8em;
    margin-left: 200px;
    background-color: white;
    border: solid 2px gray;
    border-radius: 100px;
    float: left;
    margin-bottom: 50px;
}

.css-1675apn-MuiTableCell-root .Cell-dayOfWeek {
    color: rgba(84, 154, 133, 0.97);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.appointments {
    width: 75%;
    margin: 0 auto;
    
}


.days {
    padding-left: 20px;
    float: left;
    
}

.times {
    margin-top: 10px;
    padding-bottom: 10px;
    display: block;
    
}

.appointments_table {
    background-color: white;
    padding: 0 5px;
    border: solid 2px gray;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.cells {
    border: solid gray 2px;
    border-radius: 10px;
    padding-right: 5px;
}

.cells:hover {
    background-color: rgba(84, 154, 133, 0.97);
    color: rgb(237, 133, 170);
    cursor: pointer;
}

.column {
    text-align: center;

}

#hidden {
 visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.book-appointments {
    background: white;
    padding: 10px;
    border: solid gray 2px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
}


.appointment-cards {
    background-color: white;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    display: inline-grid;
    margin: 10px 10px;
    padding: 5px;
    border: solid gray 2px;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.casefiles {
    margin: 0 auto;
    width: 95%;
    max-height: 95%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.file-container {
    background: white;
    width: 50%;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 30px;
    margin: 0 auto;
}

.patient-bio {
    width: 85%;
    overflow: scroll;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: auto;
}

.new-update {
    color:rgba(84, 154, 133, 0.97);
    background: white;
    border: none;
    margin-left: 40%;
    border-radius: 10px;
    padding: 10px;
}

.new-update:hover, .report-summary:hover, .delete-buttons:hover, .save:hover, .add:hover, .book-btn:hover {
    background: rgba(84, 154, 133, 0.97);
    color: white;
    transition: color 2s;
    transition: background 0.5s;
}

.report-summary {
    color:rgba(84, 154, 133, 0.97);
    background: white;
    border: none;
    border-radius: 10px;
    display: block;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
}

.delete-buttons{
    color:rgba(84, 154, 133, 0.97);
    background: white;
    border: none;
    border-radius: 10px;
    display: block;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
    margin: 0 auto;
    display: inline-block;
    
}

.css-i4bv87-MuiSvgIcon-root {
    float: right;
    padding: 5px;
    cursor: pointer;
}

.css-i4bv87-MuiSvgIcon-root:hover, .edit-button:hover {
    background: rgba(84, 154, 133, 0.97);
    color: white;
    border-radius: 10px;
    transition: color 2s;
    transition: background 0.5s;
}

details {
    transition: height 1s;;
}

.edit-button {
    border: none;
    border-radius: 10px;
    float: right;
    padding: 9px;
}

.my-appointments {
    width: 90%;
    margin: 0 auto;
}


.notes {
    text-align: center;
    max-width: 600px; 
}

.css-1azl6jz-MuiTableCell-root {
 max-width: 550px;   
}

.notes-header{
    text-align: center;
}

.save {
    color:rgba(84, 154, 133, 0.97);
    background: white;
    border: none;
    margin-left: 40%;
    border-radius: 10px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

.add {
    background: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

.react-calendar {
    margin: 0 auto;
}

.errors {
    color: red;
}

.home {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    border: solid 5px gray;
}

.img-wrapper{
    position: relative;
    overflow: hidden;
    
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper > img,
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > .blur{
    filter: blur(5px);
    filter: grayscale(0.5)
}

.img-wrapper:hover > .zoom{
    transform: scale(1.1);
    
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
}

.img-wrapper > .content.fade {
    opacity: 0;
}

.img-wrapper:hover > .content.slide-left {
    transform: translateX(0);
}

.img-wrapper > .content.slide-left {
    transform: translateX(-100%);
}

.img-wrapper:hover > .content.slide-right {
    transform: translateX(0);
}

.img-wrapper > .content.slide-right {
    transform: translateX(100%);
}

.img-wrapper:hover > .content.slide-up {
    transform: translateY(0);
}

.img-wrapper > .content.slide-up {
    transform: translateY(-100%);
}

.img-wrapper:hover > .content.slide-down {
    transform: translateY(0);
}

.img-wrapper > .content.slide-down {
    transform: translateY(100%);
}

.home-img {
    height: 300px;
    width: 30%;
}

.content {
    color: black;
}

.home-title {
    text-align: center;
    height: 200px;
    width: 200px;
    position: relative;
    right: -43.5%;
    top: 10%;
    z-index: -1;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.services {
    width: 65%;
    margin: 0 auto;
    background: white;
    border: solid 2px gray;
    border-radius: 10px;   
}


.services-1 {
    height: 300px;
    width: 400px;
    left: 10%;
    top: 35%;
    border-radius: 10px;
    box-shadow: 10px 5px 10px;
    transition: 200ms ease-in-out;
    
}


.anxiety-info {
    height: fit-content;
    width: 20%;
    left: 40%;
    top: 35%;
    padding: 5px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 5% 0 auto;
    color: black;
    display: table-caption;
}


 .services-1:hover, .services-2:hover, .services-3:hover, .services-4:hover, .child-care-info:hover, .surgical-info:hover{
    transform: scale(1.1);
}

.services-2 {
    height: 300px;
    width: 400px;
    left: 10%;
    top: 80.5%;
    border-radius: 10px;
    box-shadow: 10px 5px 10px;
    transition: 200ms ease-in-out;
}

.depression-info {
    height: fit-content;
    width: 20%;
    left: 40%;
    top: 35%;
    padding: 5px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 0 5%;
    color: black;
    display: table-caption;
}


.services-3 {
    height: 300px;
    width: 400px;
    left: 10%;
    bottom: -68%;
    border-radius: 10px;
    box-shadow: 10px 5px 10px;
    transition: 200ms ease-in-out;
}



.services-4 {
    height: 300px;
    width: 400px;
    left: 10%;
    bottom: -113%;
    border-radius: 10px;
    box-shadow: 10px 5px 10px;
    transition: 200ms ease-in-out;
}

.child-care-info {
    height: fit-content;
    width: 30rem;
    background: white;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px gray;
    box-shadow: 10px 5px 15px;
    transition: 200ms ease-in-out;
    padding: 20px;
}

.surgical-info {
    height: fit-content;
    width: 30rem;
    background: white;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px gray;
    box-shadow: 10px 5px 15px;
    transition: 200ms ease-in-out;
    padding: 20px;
}

.login-logo{
    text-align: center;
    height: 300px;
    width: 300px;
    position: relative;
    right: -39%;
    top: 10%;
    z-index: -1;
    margin: 0 auto;
}

.book-btn {
    color:rgba(84, 154, 133, 0.97);
    background: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

#hide-chat {
    visibility: hidden;
}

.transition {
    transition: all 0.33s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.footer{
    height: fit-content;
    margin: 150px auto;
    background: rgba(84, 158, 133, 0.97);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: -20px;
    padding-bottom: 20px;

}

.chat-box{
    height: 50%;
    width: 200px;
    position: fixed;
    display: block;
    background: white;
    top: 43%;
    right: 2%;
}

.chat-box-header{
    height: 30px;
    position: absolute;
    background-color: lightsalmon;
    width: 100%;
    align-content: center;
    border-bottom: solid 2px gray;
    
}

.header-text{
    margin-right: 10px;
    display: contents;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.help {
border: none;
color: white;
background: salmon;
transition: 200ms ease-in-out;
cursor: pointer;
}

.help:hover, .header-text:hover {
    color: red;
    background: white;
   
}

.chat-inputs{
    position: absolute;
    top: 94%;
}

.chat-inputs > button {
    position: absolute;
    height: 100%;
    width: 20%;
    margin-left: -3px;
    border: none;
    background: rgb(230, 89, 73);
    color: white;
}

.first {
    height: fit-content;
    display: flex;
    margin-top: 50px;
}

.sliding-message {
    height: fit-content;
    width: 400px;
    margin-top: 12.5%;
    float: left;
    margin-left: 1%;
    border-radius: 10px;
    display: block;
    padding: 5px;
    color: white;
}

.sliding-message > img {
    margin-left: 45px;
    padding-top: 10px;
    border-radius: 20%;
}

@keyframes slidein {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 1%;
    }
}

.services-title{
    text-align: center;
    height: 200px;
    width: 200px;
    position: relative;
    right: -43.5%;
    top: 10%;
    z-index: -1;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
}