.nav_items {
    margin: 0px 10px;
    border-radius: 20px;
    padding: 20px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav_items:hover {
    background: white;
}

.header {
    text-align: center;
}

.login {
    height: fit-content;
    width: 20%;
    background-color: white;
    position: absolute;
    margin: 10% 40% 0 40%;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 5px;
}

#login-title {
    text-align: center;
}

.login-inputs {
    margin: 0px 10px 0px 10px;
    color: rgb(111, 35, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup{
    height: fit-content;
    width: fit-content;
    background-color: white;
    position: absolute;
    right: 37%; 
    top: 20%;
    margin: 0 auto;
    border: solid 2px gray;
    border-radius: 10px;
}

.signup-title {
    text-align: center;
}

.bio-box {
  width: 84%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 0 2px 0 25px;
}

.weekdays{
    height: 3em;
    width: 8em;
    margin-left: 200px;
    background-color: white;
    border: solid 2px gray;
    border-radius: 100px;
    float: left;
    margin-bottom: 50px;
}

.css-1675apn-MuiTableCell-root .Cell-dayOfWeek {
    color: rgb(111, 35, 149);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.appointments {
    width: 75%;
    margin: 0 auto;
    
}


.days {
    padding-left: 20px;
    float: left;
    
}

.times {
    margin-top: 10px;
    padding-bottom: 10px;
    display: block;
    
}

.appointments_table {
    background-color: white;
    padding: 0 5px;
    border: solid 2px gray;
    border-radius: 10px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.cells {
    border: solid gray 2px;
    border-radius: 10px;
    padding-right: 5px;
}

.cells:hover {
    background-color: rgb(111, 35, 149);
    color: white;
    cursor: pointer;
}

.column {
    text-align: center;

}

#hidden {
 visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.book-appointments {
    background: white;
    color:rgb(111, 35, 149);
    width:fit-content;
    padding: 10px;
    border: solid gray 2px;
    border-radius: 10px;
    margin: 0 auto;
}

.appointment-cards {
    background-color: white;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    display: inline-grid;
    margin: 10px 10px;
    padding: 5px;
    border: solid gray 2px;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.casefiles {
    margin: 0 auto;
    width: 95%;
    max-height: 95%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.file-container {
    background: white;
    width: 50%;
    padding: 10px;
    border: solid 2px gray;
    border-radius: 30px;
    margin: 0 auto;
}

.patient-bio {
    width: 85%;
    overflow: scroll;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: auto;
}

.new-update {
    color:rgb(111, 35, 149);
    background: white;
    border: none;
    margin-left: 40%;
    border-radius: 10px;
    padding: 10px;
}

.new-update:hover, .report-summary:hover {
    background: rgb(111, 35, 149);
    color: white;
    transition: color 2s;
    transition: background 0.5s;
}

.report-summary {
    color:rgb(111, 35, 149);
    background: white;
    border: none;
    border-radius: 10px;
    display: block;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
}

.css-i4bv87-MuiSvgIcon-root {
    float: right;
    padding: 5px;
    cursor: pointer;
}

.css-i4bv87-MuiSvgIcon-root:hover, .edit-button:hover {
    background: rgb(111, 35, 149);
    color: white;
    border-radius: 10px;
    transition: color 2s;
    transition: background 0.5s;
}

details {
    transition: height 1s;;
}

.edit-button {
    border: none;
    border-radius: 10px;
    color: rgb(111, 35, 149);
    float: right;
    padding: 9px;
}