<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for booking with Healwell, <%=@patient.full_name %></h1>
    <p>
      You have successfully booked an appointment for:
      <%= @appointment.startDate %> at <%= @appointment.time%>,<br>
      Changes can be made to you appointment by visiting "My Appointments" page.<br>
      We look forward to seeing you!
      
    </p>
    <p>

    </p>
  </body>
</html>